// Colores
$color-bg: #ffffff;
$color-text: #2e2f38;
$color-dark: #2d2f3c;
$color-primary: #FA504D;
$color-gray: #8f8f8f;
$color-light: #f5f5f5;

// Tipografías
$font-primary: "Poppins", sans-serif;

// Medidas base
$container-width: 1200px;
